.body{
    background-image: url("pexels-jess-loiterton-4319881.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#navbar{
    background-color: white;
}

.navbar-brand{
    font-weight: bolder;
    font-family: "URW Gothic";
}


.form{
    border: 1px solid beige;
    border-radius: 9px;
    padding: 30px 30px 30px 30px;
    margin: auto;
}

.topic{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

#button{
    background-color: mediumturquoise;
}