.body{
    background-image: url("pexels-pixabay-416676.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.lead{
    color: white;
}

.topic {
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.form{
    border: 1px solid beige;
    border-radius: 7px;
    padding: 30px 30px 30px 30px;
    margin: auto;

}