.body{
    background-image: url("image_downloader_1631703074804.jpg");
    height: auto;
    max-width: 100%;

}

.lead{
    color: white;
}

.topic {
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.form{
    border: 1px solid beige;
    border-radius: 7px;
    padding: 30px 30px 30px 30px;
    margin: auto;

}