.body{
    background-image: url("pexels-pixabay-416676.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.logo{
    height: 50px;
    width: 50px;
}

.lead{
    color: white;
    line-height: 30px;
    font-weight: normal;

}

.topic {
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.form{
    border: 1px solid beige;
    border-radius: 7px;
    padding: 30px 30px 30px 30px;
    margin: auto;

}
